body{
    text-align: center;
    
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
      
}

#count{
    font-size: 3rem;
}

button{
    padding: 10px 16px;
    background-color: #0ff;
    border: 1px solid grey;
    border-radius: 4px;
    cursor: pointer;
}

input {
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
}